.row.projects
  margin-top 45px
  
.project
  display flex
  justify-content space-between
  align-items flex-end
  padding 1.5em 2em
  margin-bottom 2em
  height 340px
  overflow hidden
  color #fff
  background-size cover
  
  &__title
    font-size 24px
    
section.projects
  margin-bottom 80px
  
.project-list
  .col-md-6
    // max-width 80%
    margin 0 auto
  
.allex
  background url("/assets/images/allexcnc.png")
  background-size cover
  background-position center center
  
.keg
  background url("/assets/images/keg.png")
  background-size cover
  background-position center center