.toolkit
    margin-bottom 5em

.tool__image
    margin-bottom 2em

.tool__description
    text-align center
    color text_color
    font-weight 300
    font-size 32px

.toolkit__header
    margin-bottom 2em

.tool
    display flex
    justify-content flex-end
    align-items center
    flex-flow column
    

    
.tool-list
    margin 0 0
    
    align-items: flex-end
    
    .col-xs-6
        margin-bottom 3em
        

+bp(large)
    .tool-list
        margin 3em 0
        
        .col-xs-6
            margin-bottom 0
