doctype html
html(lang="en")
  head
    block title
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" type="text/css" href="/assets/style.css")
    link(rel="icon" type="image/png" href="/assets/images/logo.png")
    block scripts
  body
    block content

    script(type="text/javascript").
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '58c12140bb922a4ae3009d76');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();